<div class="col-12 col-md-6 col-xl-4">
    <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="100ms">
        <!-- Property Thumbnail -->
        <div class="property-thumb">
            <f:if condition="{newsItem.mediaPreviews}">
                <!-- media preview element -->
                <f:then>
                    <div class="news-img-wrap">
                        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                            <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                                <f:if condition="{mediaElement.originalResource.type} == 2">
                                    <f:image class="bg-img" image="{mediaElement}"
                                        title="{mediaElement.originalResource.title}"
                                        alt="{mediaElement.originalResource.alternative}"
                                        loading="{settings.list.media.image.lazyLoading}"
                                        maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                        maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                                </f:if>
                                <f:if condition="{mediaElement.originalResource.type} == 4">
                                    <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}" />
                                </f:if>
                                <f:if condition="{mediaElement.originalResource.type} == 5">
                                    <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                                        alt="{mediaElement.originalResource.alternative}"
                                        loading="{settings.list.media.image.lazyLoading}"
                                        maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                        maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                                </f:if>
                            </f:alias>
                        </n:link>
                    </div>
                </f:then>
                <f:else>
                    <f:if condition="{settings.displayDummyIfNoMedia}">
                        <div class="news-img-wrap">
                            <span class="no-media-element">
                                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                    <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                                        loading="{settings.list.media.image.lazyLoading}"
                                        maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                        maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                                </n:link>
                            </span>
                        </div>
                    </f:if>
                </f:else>
            </f:if>

            <div class="tag">
                <span>{newsItem.firstCategory.title}</span>
            </div>
            <div class="list-price">
                <p>$945 679</p>
            </div>
        </div>
        <!-- Property Content -->
        <div class="property-content">
            <h5>
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    <span itemprop="headline">{newsItem.title}</span>
                </n:link>
            </h5>
            <p class="location"><img src="img/icons/location.png" alt="">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</p>
            <p>{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</p>

        </div>
    </div>
</div>