<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
	<f:if condition="{news}">
		<f:then>
			<f:if condition="{settings.hidePagination}">
				<f:then>
					<f:render section="news-content"
						arguments="{newsItem: newsItem, settings: settings, iterator: iterator, hidePagination: 'true'}" />


				</f:then>
				<f:else>

					<f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
						<f:render section="news-content"
							arguments="{newsItem: newsItem, settings: settings, iterator: iterator, hidePagination: 'true'}" />

					</f:for>
					<f:if condition="{settings.list.paginate.insertBelow}">
						<f:render partial="List/Pagination"
							arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
					</f:if>
				</f:else>
			</f:if>
			<f:if condition="{settings.templateLayout} == 1 ">
				<div class="hero-slides owl-carousel">
					<f:for each="{news}" as="newsItem" iteration="iterator">
						<f:render partial="List/ItemCarousel"
							arguments="{newsItem: newsItem, settings: settings, iterator: iterator}" />
					</f:for>
				</div>
			</f:if>
			<f:if condition="{settings.templateLayout} == 3">
				<div class="row">
					<div class="col-12">
						<div class="testimonials-slides owl-carousel wow fadeInUp" data-wow-delay="500ms">
	
					<f:for each="{news}" as="newsItem" iteration="iterator">
						<f:render partial="List/Temoin"
							arguments="{newsItem: newsItem, settings: settings, iterator: iterator}" />
					</f:for>
				</div>
				</div>
				</div>
			</f:if>
		</f:then>
		<f:else>
			<div class="no-news-found">
				<f:translate key="list_nonewsfound" />
			</div>
		</f:else>
	</f:if>
	<!--TYPO3SEARCH_begin-->
</f:section>
<f:section name="news-content">
	<f:if condition="{settings.templateLayout} == 7">		
		<f:then>	
			<f:render partial="List/Immeuble"
				arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
		</f:then>		
	</f:if>
	<f:if condition="{settings.templateLayout} == 5">		
		<f:then>	
			<f:render partial="List/Blog"
				arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
		</f:then>		
	</f:if>
	<f:if condition="{settings.templateLayout} == 6">		
		<f:then>	
			<f:render partial="List/Immeuble"
				arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
		</f:then>		
	</f:if>
</f:section>
</html>
